<html>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<head>
<script>
	var chart_id = [];
	var chart = [];
	var series = [];
	var title = [];
	var xAxis = [];
	var yAxis = [];
	{% for chartInfoItem in chartInfo %}
		chart_id.push("{{ chartInfoItem[0]|safe }}");
		chart.push({{ chartInfoItem[1]|safe }});
		series.push({{ chartInfoItem[2]|safe }});
		title.push({{ chartInfoItem[3]|safe }});
		xAxis.push({{ chartInfoItem[4]|safe }});
		yAxis.push({{ chartInfoItem[5]|safe }});
	{% endfor %}
	
	$(document).ready(function() {
		$('#Humidity').highcharts({
			chart: chart[1],
			title: title[1],
			xAxis: xAxis[1],
			yAxis: yAxis[1],
			series: series[1]
		});
		$('#Temperature').highcharts({
			chart: chart[0],
			title: title[0],
			xAxis: xAxis[0],
			yAxis: yAxis[0],
			series: series[0]
		});
	});
</script>
</head>

<body>
	<div id="Temperature" class="chart" style="height: 45vh; width: 100vw"></div>
	<div id="Humidity" class="chart" style="height: 45vh; width: 100vw"></div>
</body>
</html>		